.header-container {
  grid-area: header;
  background-color: #808080cc;
  border: 2px ridge black;
  height: 40px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}
.special-container {
  grid-area: special;
  background-color: #808080cc;
  border: 2px ridge black;
  height: 286px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 20px; 
}
.pool-container {
  grid-area: pool;
  background-color: #808080cc;
  border: 2px ridge black;
  height: 40px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  border-radius: 5px;
}
.char-stats-container {
  grid-area: info;
  background-color: #808080cc;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 340px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
  border-radius: 5px;
}
.skills-container {
  grid-area: skills;
  background-color: #808080cc;
  /* color: #032a66; */
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 340px;
  border-radius: 5px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
}
.panel-bg {
  position: relative;
  width: 100%;
  height: 100%;
}
.panel-bg::before {
  content: "";
  background-image: url('../../assets/img/panel-bg.png');
  background-repeat: round;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.6;
}
.header-title,
.skills-title,
.special-title,
.traits-title,
.char-stats-title,
.pool-title,
.traits-title,
.info-panel-title,
.footer-title {
  position: relative;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
  font-size: 28px;
  color: #dbdb34;
  padding: 3px;
  -webkit-text-stroke: 1px black;
}
.traits-container {
  grid-area: traits;
  background-color: #808080cc;
  color: #85fc5a;
  font-weight: 400;
  text-shadow: 1px 1px rgb(48, 41, 41);
  border: 2px ridge black;
  height: 160px;
  border-radius: 5px;
  font-family: "Fixedsys Excelsior 3.01", Helvetica, Arial;
}
.info-panel-container {
  grid-area: info-panel;
  background-color: #808080cc;
  border: 2px ridge black;
  height: 234px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}
.footer-container {
  grid-area: footer;
  background-color: #808080cc;
  border: 2px ridge black;
  height: 60px;
  border-radius: 5px;
  font-family: "Gothic821 Cn BT", Helvetica, Arial;
}